In [1]:
import pandas as pd

df = pd.read_csv('pokemon.csv')
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [2]:
# Means Of Hp and Speed Columns
hp_mean = df['HP'].mean()
speed_mean = df['Speed'].mean()

# Defining Methods for Hp_high_low and Speed_high_low
def hp_high_low(hp):
    if hp < hp_mean:
        return 'Low HP'
    else:
        return 'High HP'
    
def speed_high_low(speed):
    if speed < speed_mean:
        return 'Low Speed'
    else:
        return 'High Speed'

# Creating HP_High_low and Speed_High_Low columns
df['HP_High_Low'] = df['HP'].apply(hp_high_low)
df['Speed_High_Low'] = df['Speed'].apply(speed_high_low)
df.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,HP_High_Low,Speed_High_Low
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,Low HP,Low Speed
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,Low HP,Low Speed
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,High HP,High Speed
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,High HP,High Speed
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,Low HP,Low Speed
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False,Low HP,High Speed
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False,High HP,High Speed
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False,High HP,High Speed
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False,High HP,High Speed
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False,Low HP,Low Speed